* {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

a {
    color: white !important;
}

a:hover > h3 {
    background-color: white !important;
    color: black !important;
}

.section-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.hr {
    height: 4px; 
    background: black;
}

.header-section {
    height: 100vh;
    color: white;
    z-index:9;
}

.section {
    font-weight: bold;
    font-size: 24px;
}

.about-detail {
    margin-top: 3rem;
    line-height: 1;
}

#profile {
    width: 200px;
    height: 200px;
    border-radius: 141.5px;
    display: block;
    margin: auto;
}

.logo {
    max-width: 250px;
    max-height: 150px;
}

.logo-s {
    max-width: 150px;
    max-height: 100px;
}

.logo-c {
    max-width: 180px;
    max-height: 180px;
    border-radius: 141.5px;
}

.logo-c:hover {
    filter: opacity(0.7) blur(2px);
}

#hobby {
    margin-top: 40vh;
    color: white;
}

#contact {
    margin-top: 50vh;
}

#white {
    background: white;
}

.bear-bg {
    height: 100vh;
    width: 100vw;
    background-image: url('Assets/Bearbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute; 
    filter: blur(3px);
    z-index: -1;
    margin: -10px;
}

.geo-bg1 {
    height: 100vh;
    width: 100vw;
    background-image: url('Assets/geometric_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(5px);
    margin-top: 100vh;
    position: absolute;
    z-index: -1;
    filter: opacity(0.5);
}


.geo-bg2 {
    height: 100vh;
    width: 100vw;
    background-image: url('Assets/geometric_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    filter: blur(5px);
    margin-top: 230vh;
    position: absolute;
    z-index: -1;
    filter: opacity(0.5);
    transform: rotate(-180deg);

}

.piano-bg {
    background-image: url('Assets/piano-background-faded.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-top: 330vh;
    position: absolute;
    z-index: -1;
    filter: blur(3px);
    margin-left: -10px;
    margin-right: -10px;
}

.page2-bg {
    background-image: url('Assets/notebg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}

.black-bg {
    background-image: url('Assets/blackbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 60vw;
    z-index: -1;
    filter: opacity(0.7);
}
